.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f4f6f9; /* Light background for spinner */
}

.control-container {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Divider for better UI */
    background-color: #ffffff; /* White background for controls */
}

.control-container lightning-input {
    margin-right: 20px; /* Space between toggle and button */
}

.datatable-container {
    padding: 20px;
    margin: 0 auto;
    /* max-width: 90%; Restrict the datatable width */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for emphasis */
}