.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.status-container {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}