.card-container{
	/*width: 50%;*/
	margin: auto;
}
.card-header{
	text-align: center;
	width: 100%;
}
.card-header-1 {
	width: 20%;
}
.card-header-2 {
	font-weight: bolder;
    font-size: 150%;
	width: 60%;
}
.card-header-3 {
	width: 20%;
}
.logo {
	max-height: 6rem;
	max-width: 8rem;
}
.card-body{
	position: relative;
}
.applicant-details-sections{
	--slds-c-accordion-summary-color-background:#B48833;
	--slds-c-accordion-heading-text-color: rgba(255, 255, 255, 0.866);
	--slds-c-accordion__summary-content-color: rgb(244, 250, 255);


	color: aliceblue;
	
}
:host{
--slds-c-accordion-heading-text-color:rgba(255, 255, 255, 0.866)  !important;
--slds-accordion__summary-content: rgba(255, 255, 255, 0.866) !important;
--slds-c-accordion-heading-text-color-hover: rgba(255, 255, 255, 0.866) !important;
--slds-c-accordion-heading-color: rgba(255, 255, 255, 0.866) !important;
}
.applicant-details-sections lightning-accordion-section .slds-summary-title {
    color: #b81717; /* Override any blue color styles */
}
.slds-accordion__summary-content{
	color: rgb(255, 255, 255);
}
.applicant-details-sections lightning-accordion-section .slds-summary-title {
    color: #ffffff; /* Ensure white text for the accordion section title */
}

.applicant-details-sections .slds-accordion__summary-content {
    color: #ffffff; 
}

lightning-accordion-section::part(summary-title) {
    color: #ffffff; /* Ensures white text in the accordion title */
}
.slds-accordion__summary-action {
	color: rgb(255, 255, 255);
}
.applicant-table{
    /*overflow-x: auto;
	min-height: 300px;*/
}
.table {
	width: 100%;
}

.custom-modal .slds-modal__container {
    width: 60%; /* Adj ust percentage or set a fixed width (e.g., 800px) */
    max-width: 60%; /* Ensure it doesn't exceed the viewport width */
    height: 100%; /* Adjust height as needed */
    max-height: 100%; /* Ensure it doesn't exceed the viewport height */
}

.custom-modal .slds-modal__content {
    overflow-y: auto; /* Add scroll for long content */
}

.padded-section {
    padding: 1rem; /* Adjust as needed */
	margin-right: -15px;
}

.accordion-section {
    margin-bottom: 1px; /* Adds space at the bottom */
}

.plot-container{
	margin-bottom: 10px;
}

.contact-container{
	margin-bottom: 10px;
}

.form-container {
    display: flex;
    justify-content: space-between; /* Pushes label to the left and combobox to the right */
    align-items: center;
    width: 100%;
}

.custom-label {
    white-space: nowrap;
	    min-width: 40%; /* Ensures combobox does not shrink too much */

}
.combobox-container {
    flex-grow: 1; /* Allows combobox to take up remaining space */
    display: flex;
    justify-content: flex-end; /* Aligns the combobox to the right */
}
.required {
    color: red;
    margin-right: 5px;
}