.document-table {
    max-height: 400px;
    overflow-y: auto;
}

.slds-is-sortable {
    cursor: pointer;
}

.slds-is-sortable:hover {
    background-color: #f3f3f3;
}

.slds-is-sortable .slds-icon-text-default {
    fill: #706e6b;
}

.slds-is-sortable:hover .slds-icon-text-default {
    fill: #0070d2;
}

.slds-illustration.slds-illustration_small {
    max-width: 400px;
    margin: 0 auto;
}

.slds-p-around_medium {
    padding: 1rem;
}

.slds-border_bottom {
    border-bottom: 1px solid #dddbda; /* Light gray border */
}

.slds-text-heading_medium {
    font-size: 1.25rem;
    font-weight: bold;
    color: #080707; /* Dark gray color for heading */
}

.custom-card-width {
    width: 400px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the card horizontally */
}