.dummy {
    color: black;
}
.box{
    padding: 10px;
}

.tbody {
    box-sizing: content-box !important;
}

.importantRow {
    /*font-size: medium;
    font-weight: 500;*/
}


.componentWrapper {
    border: 0.5px solid#b55435;
    border-radius: 10px;
    padding: 15px 0px 0px;
    margin: 0px 0px 20px 0px;
}

.componentWrapper .header {
    position: absolute;
    margin-top: -25px;
    margin-left: 10px;
    color: white;
    background:#b55435;
    border-radius: 10px;
    padding: 2px 10px;
}

.componentWrapper1 {
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 15px 10px 10px;

    /* width: 30%; */
}

.header {
    font-size: large;
    font-weight: bold;
}

.componentWrapper1 .header1 {
    position: absolute;
    margin-top: -25px;
    margin-left: 10px;
    color: white;
    background: black;
    border-radius: 10px;
    padding: 2px 10px;
}

.table-container {
    overflow-x: auto;
    /* Enable horizontal scrolling when needed */
}

.custom-table {
    /* width: auto; */
    /* Allow the table to grow according to content */
    border-collapse: collapse;
    /* Collapse table borders */
}

.custom-table th,
.custom-table td {
    max-width: 100px;
    padding: 8px;
    /* Add padding to table cells */
    border: 1px solid #dddddd;
    /* Add border to table cells */
    text-wrap: balance;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .custom-table {
        display: block;
        /* Display table as a block element */
        width: 100%;
        /* Occupy full width of its container */
        white-space: nowrap;
        /* Prevent line breaks in table cells */
        overflow-x: auto;
        /* Enable horizontal scrolling */
    }

    .custom-table thead,
    .custom-table tbody,
    .custom-table th,
    .custom-table td,
    .custom-table tr {
        display: block;
        /* Display table elements as block */
        width: 100%;
        /* Occupy full width of its container */
    }

    .custom-table tr {
        margin-bottom: 15px;
        /* Add space between table rows */
    }

    .custom-table td {
        text-align: left;
        /* Align table data to the left */
        border-bottom: 1px solid #dddddd;
        /* Add border to separate table rows */
    }

    .custom-table td:last-child {
        border-bottom: 0;
        /* Remove border from the last table data cell */
    }
}